footer{
  .top{
    text-align: center;
    p{
      margin-top: -10px;
    }
  }
  a{
    color: $grayHard-3;
    display: inline-block;
    padding: 0px 5px;
    
    &:hover{
      color: $graySoft-1;
    }
  }
  .copyright{
    text-align: right;
    color: $grayHard-1;
    font-size: 12px;
  }
}