extends ./layout/_layout.jade
block content
  
  .home-page
    
    section.cover
      .row
        .small-12.columns.title
          h1 YA YIN CHANG
          p Graphic Designer & Front-end Developer
          i.fa.fa-arrow-down.fa-2x
        
    .left-arrow
    .row
      .small-12.columns
        .home-box
          section.about
            .row
              .small-12.small-centered.columns
                .portrait
                  img(src="images/profile.jpg", alt="")
              .small-12.small-centered.columns
                .content.text-center
                  p I'm a sophomore studing in 
                    abbr(title="National Taiwan University of Science and Technology") NTUST. 
                    br
                    | While major in Graphic Design, I'm also a self-taught Front-end Developer.
                a.secondary.hollow.button(href='#') Learn more

          section.skill
            .row
              .small-12.columns
                .title
                  h3 - Skill -
              .small-12.medium-6.columns
                .donut-chart-block-design
                  .donut-chart
                    #partOne.recorte
                      .label.perOne(data-rel='30')
                    #partTwo.recorte
                      .label.perTwo(data-rel='50')
                    #partThree.recorte
                      .label.perThree(data-rel='20')   

                    p.center-date
                      | Graphic Design               
                  
                    ul.percentages-design.horizontal-list
                      li
                        p.chartTab.perOne Adobe Photoshop
                        p.percentage 30
                          sup %
                      li
                        p.chartTab.perTwo Adobe Illustrator
                        p.percentage 50
                          sup %
                      li
                        p.chartTab.perThree Maya
                        p.percentage 20
                          sup %

              .small-12.medium-6.columns
                .donut-chart-block-web
                  .donut-chart
                    #partOne.recorte
                      .label.perOne(data-rel='30')
                    #partTwo.recorte
                      .label.perTwo(data-rel='50')
                    #partThree.recorte
                      .label.perThree(data-rel='20')   

                    p.center-date
                      | Web Design               
                  
                  ul.percentages-web.horizontal-list
                    li
                      p.chartTab.perOne Adobe Photoshop
                      p.percentage 30
                        sup %
                    li
                      p.chartTab.perTwo Adobe Illustrator
                      p.percentage 50
                        sup %
                    li
                      p.chartTab.perThree Maya
                      p.percentage 20
                        sup %
              
          
          section.project
            .row
              .small-12.columns
                .image
                  img(src='', alt='')
                .content
                  h2.major Lastest Work
              .works
                .small-12.medium-6.columns
                  article
                    .image
                      img(src='images/pic04.jpg', alt='')
                    h3.major Title
                    p context
                    a.special(href='#') Learn more
                .small-12.medium-6.columns
                  article
                    .image
                      img(src='images/pic04.jpg', alt='')
                    h3.major Title
                    p context
                    a.special(href='#') Learn more
              a.more(href='#') All Works
          
          section.blog
            .row
              .small-12.columns
                .content
                  h2.major Blog
              .post
                .small-10.small-centered.columns
                  .small-12.medium-6.columns
                    .image
                      img(src='images/pic04.jpg', alt='')
                  .small-12.medium-6.end.columns
                    h3.major Title
                    p context
                    a.special(href='#') View more
              
          section.contact
          .row
            .small-12.columns
              h2 Get in touch
            
            .small-6.columns
              ul.contact
                li
                  a.fa.fa-envelope.fa-2x(href="mailto:irene84111@gmail.com") irene84111@gmail.com
                li
                  a.fa.fa-facebook-square.fa-2x(href="https://www.facebook.com/irene.chang.735"  target="_blank")
                li
                  a.fa.fa-github-square.fa-2x(href="https://github.com/irene84111" target="_blank")
            
            .small-6.columns
              form(method='post', action='#')
                .field
                  label(for="middle-label") Name
                    input#name(type='text')
                .field
                  label(for="middle-label") Email
                    input#email(type='email')
                .field
                  label(for="middle-label") Message
                    textarea#message(name='message', rows='4')
              
              .input-group-button
                input.button(type="submit", value="Submit")