extends ./layout/_layout.jade
block content
  .home-page#top
    section.cover
      .row
        .small-12.columns.title
          h1 YA YIN CHANG
          p Graphic Designer & Front-end Developer
          a(href="#start")
            i.fa.fa-angle-down.fa-3x
        
    .left-arrow-about
    .right-arrow-skill
    .left-arrow-work
    .right-arrow-blog
    .row
      .small-12.columns
        .home-box#start
          section.about
            .row
              .small-12.small-centered.columns
                .portrait
                  img(src="images/profile.jpg", alt="")
              .small-10.small-centered
                .content.text-center
                  p I'm a sophomore studing in 
                    abbr(title="The National Taiwan University of Science and Technology") NTUST
                    | , Taipei, Taiwan.
              .small-12.columns
                a.secondary.hollow.button.btn-about(href='#') Learn more

          section.skill
            .row
              .small-10.small-centered.columns
                .content.text-center
                  p While major in Graphic Design, 
                    br
                    | I'm also a self-taught Front-end Developer.
                .small-12.medium-6.columns
                  .donut-chart-block-design
                    .donut-chart
                      #partOne.recorte
                        .label.perOne(data-rel='30')
                      #partTwo.recorte
                        .label.perTwo(data-rel='50')
                      #partThree.recorte
                        .label.perThree(data-rel='20')   

                      p.center-date Graphic Design               
                    
                    .percentages-design
                      ul
                        li.chartTab.perOne Adobe Illustrator 50
                          sup %
                          i.fa.fa-paint-brush(style="margin-right: 10px;")
                        li.chartTab.perTwo Adobe Photoshop 30
                          sup %
                          i.fa.fa-image(style="margin: 0px 11px 0px -3px;")
                        li.chartTab.perThree Maya 20
                          sup %
                          i.fa.fa-cube(style="margin: 0px 10px 0px -2px;")

                .small-12.medium-6.columns
                  .donut-chart-block-web
                    .donut-chart
                      #partOne.recorte
                        .label.perOne(data-rel='35')
                      #partTwo.recorte
                        .label.perTwo(data-rel='35')
                      #partThree.recorte
                        .label.perThree(data-rel='30')   

                      p.center-date Web
                        br
                        | Design               
                    
                    .percentages-web
                      ul
                        li.chartTab.perOne HTML/Jade 35
                          sup %
                          i.fa.fa-html5(style="margin-right: 10px; font-size:18px")
                        li.chartTab.perTwo CSS/Sass 40
                          sup %
                          i.fa.fa-css3(style="margin: 0px 11px 0px -1px;")
                        li.chartTab.perThree JavaScript 25
                          sup %
                          i.fa.fa-code(style="margin: 0px 10px 0px -2px;")
              
          
          section.project
            .row
              .small-10.small-centered.columns
                .content.text-center
                  p Here are my lastast work:
              .small-11.small-centered.columns
                .small-12.medium-6.columns
                  article
                    .image
                      img(src='images/pic04.jpg', alt='')
                    h3.major Title
                    p context
                    a.special(href='#') Learn more
                .small-12.medium-6.columns
                  article
                    .image
                      img(src='images/pic04.jpg', alt='')
                    h3.major Title
                    p context
                    a.special(href='#') Learn more
              .small-12.columns
                a.secondary.hollow.button.btn-work(href='#') All Works
          
          section.blog
            .row
              .small-10.small-centered.columns
                .content.text-center
                  p I also like to share what I've learnt and done:
              .small-10.small-centered.columns
                article
                  .small-12.medium-6.columns
                    .image(style="background-image:url('images/pic04.jpg')")
                  .small-12.medium-6.end.columns
                    .post
                      h3.major Title
                      p context
                      a.special(href='#') View more
              .small-12.columns
                a.secondary.hollow.button.btn-blog(href='#') All Articles
         
          include ./partials/_footer