extends ./layout/_layout.jade
block css
  link(href='stylesheets/reset.min.css', rel='stylesheet', type='text/css')
  link(href='stylesheets/project.min.css', rel='stylesheet', type='text/css')
block js
  script(src='scripts/project.js', type='text/javascript')

block content
  header
    a.cd-logo(href='#0')
        img(src='img/cd-logo.svg')
    button.cd-nav-trigger
      | Menu
      span.cd-icon(aria-hidden='true')

  nav.cd-primary-nav
    ul
      li.cd-label Navigation
      li
        a(href='#0') The team
      li
        a(href='#0') Our services
      li
        a(href='#0') Our projects
      li
        a(href='#0') Contact us

  .cd-projects-container
    ul
      li.single-project
        .cd-title
          h2 Project 1
        .cd-project-info
          button.cd-scroll Scroll down
          
          .content-wrapper
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam molestias suscipit mollitia vitae ea non ex, dignissimos aperiam minus magni totam sint culpa vel voluptate ipsa sunt repellendus. Ab, magni!

      li.single-project
        .cd-title
          h2 Project 2
        .cd-project-info
          button.cd-scroll Scroll down

          .content-wrapper
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam molestias suscipit mollitia vitae ea non ex, dignissimos aperiam minus magni totam sint culpa vel voluptate ipsa sunt repellendus. Ab, magni!

      li.single-project
        .cd-title
          h2 Project 3
        .cd-project-info
          button.cd-scroll Scroll down

          .content-wrapper
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam molestias suscipit mollitia vitae ea non ex, dignissimos aperiam minus magni totam sint culpa vel voluptate ipsa sunt repellendus. Ab, magni!
