@import 'foundation/foundation';
@import 'component/basic';
@import 'component/nav';
@import 'component/skill';
@import 'component/footer';
@import 'component/panel';
@import 'component/timeline';

.home-page{
  font-family: $font-family;
  padding: 0px 20px;
  
  .cover{
    height: 100vh;
    .cover-title{
      position: absolute;
      bottom: 10px;
      left: 0;
      text-align: center;  
      h1{
        font-size: 36px;
        color: $grayHard-2;
        text-shadow: 8px 8px 3px rgba(77, 160, 176, 0.3),-2px -2px 5px rgba(213, 51, 105, 0.6),0px 0px 10px rgba(255,255,255,0.8);
      }
      p{
        color: $grayHard-3;
        text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
      }  
    }
    i{
      color: $grayHard-3;
      margin-top: -20px;
    }
  }

  .home-box{
    background: rgba(254, 254, 254, 0.9);
    box-shadow: 0px 0px 5px rgba(204,204,204,0.5);
    max-width: 800px;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto;
    padding-bottom: 20px;
    
    
    // About
    .about{
      color: $grayHard-1;
      margin: 0px auto;
      padding: 60px 0px 0px 0px;
      
      .portrait{
        width: 200px;
        height: 200px;
        margin: 0px auto;
        img{
          border-radius: 100%;
        }
      }
    }
    
    // Work
    .work{
      article{
        margin: 10px 0px 60px;
        .image{
          height: 200px;
          @include bg;
          border-radius: 3px;
          margin-bottom: 20px;
        }
      }
    }
    
    // Blog
    .blog{
      article{
        margin-bottom: 40px;
        .image{
          background-position: center center;
          background-size: cover;
          height: 200px;
          border-radius: 3px;
        }
        .post{
          padding: 15px 0;
          position: relative;
          span{
            font-size: 12px;
            color: $graySoft-1;
          }
          p{
            margin: 5px 0;
            font-size: 14px;
            color: $graySoft-1;
          }
          .special{
            font-size: 12px;
            position: absolute;
            right: 10px;
            bottom: 0;
          }
        }
      }
      .btn-blog{
        width: 180px;
      }
    }
  }
}

// RWD
@media #{$medium-up} {
  .cover{
    .cover-title{
      h1{
        font-size: 48px !important;
      }
    }
    i{
      margin: 0px !important;
    }
  }
}
@media #{$large-up} {
  .blog{
    article{
      display: table;
      .image{
        display: table-cell;
        width: 50%;
      }
      .post{
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 10px 20px !important;
        .special{
          right: 30px !important;
        }
      }
    }
  }
}