//@import "compass/css3";
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.home-page{
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-size: cover;
  padding: 0px 20px;
  
  .cover{
    height: 800px;
    .title{
      position: absolute;
      bottom: 0px;
      left: 0;
      text-align: center;    
      h1{
        color: rgba(51, 51, 51, 0.9);
        text-shadow: 8px 8px 3px rgba(77, 160, 176, 0.3),-2px -2px 5px rgba(213, 51, 105, 0.6),0px 0px 10px rgba(255,255,255,0.8);
      }
      p{
        color: rgba(51, 51, 51, 0.8);
        text-shadow: 0px 0px 5px rgba(255,255,255,0.8);
      }  
    }
    i{
      color: rgba(51, 51, 51, 0.8);
      margin: 30px 0px;
    }
  }

  .home-box{
    background: rgba(254, 254, 254, 0.9);
    max-width: 800px;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: 0px auto;
    padding-bottom: 20px;
    
    .button.hollow.secondary{
      border-radius: 3px;
      border: 1px solid rgba(119, 119, 119, 0.8);
      color: rgba(119, 119, 119, 1);
      margin: 0px auto;
      float: none;
      display: block;
      width: 120px;
    }
    
    .button.hollow.secondary.btn-about:hover, .button.hollow.secondary.btn-about:focus{
      border: 1px solid rgba(178, 213, 186, 0.8);
      color: rgba(178, 213, 186, 0.8);
    }
    
    .button.hollow.secondary.btn-work:hover, .button.hollow.secondary.btn-work:focus{
      border: 1px solid rgba(97, 173, 160, 0.8);
      color: rgba(97, 173, 160, 0.8);
    }
    
    .button.hollow.secondary.btn-blog:hover, .button.hollow.secondary.btn-blog:focus{
      border: 1px solid rgba(36, 143, 141, 0.8);
      color: rgba(36, 143, 141, 0.8);
    }
    
    a.special{
      font-size: 14px;
      float: none;
      color: rgba(0, 110, 255, 0.8);
    }
    a.special:hover, a.special:focus{
      color:rgba(0, 64, 148, 1);
    }
    
    .title{
      text-align: center;
      margin: 30px 0px;
    }
    
    .content{
      padding: 120px 0px 40px;
      line-height: 32px;
      color: rgba(51, 51, 51, 0.8);
      abbr{
        color: rgba(51, 51, 51, 0.8);
      }
    }
    
    .about{
      color: #333;
      margin: 0px auto;
      padding: 60px 0px 0px 0px;
      
      .portrait{
        width: 200px;
        height: 200px;
        margin: 0px auto;
        img{
          border-radius: 100%;
        }
      }
    }
    
    .skill{
      
      // Chart Basic
      ul {
        width: auto;
        list-style-type: none;
      }
      
      .label {
        border-radius: 50%;
        clip: rect(0px, 100px, 200px, 0px);
        position: absolute;
        height: 100%;
        width: 100%;
      }
      
      .recorte {
        border-radius: 50%;
        clip: rect(0px, 200px, 200px, 100px);
        position: absolute;
        height: 100%;
        width: 100%;
      }
      
      p.center-date {
        background: rgba(254, 254, 254, 1);
        position: absolute;
        border-radius: 100%;
        text-align: center;        
        font-size: 24px;
        color: #333;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 160px;
        height: 160px;
        margin: auto;
        padding: 55px 0 0;
        line-height: 28px;
      }
      
      // Chart Design
      .donut-chart-block-design {
        .donut-chart {
          position: relative;
          margin: 20px auto 40px;
          width: 200px;
          height: 200px;
          border-radius: 100%;
          
          //Illustrator
          #partOne {
            transform: rotate(0deg);
            .label {
              background-color: #F7A541;
              transform: rotate(180deg);
            }
          }
          //Photoshop
          #partTwo {
            transform: rotate(180deg);
            .label {
              background-color: #FACA66;
              transform: rotate(120deg);
            }
          }
          //Maya
          #partThree {
            transform: rotate(300deg);
            .label {
              background-color: #FEE5AD;
              transform: rotate(60deg);
            }
          }
        }
      }

      .percentages-design {
        width: 230px;
        margin: 0 auto;
        .chartTab {
          margin: 0px 0px 0px -30px;
          padding: 10px 0px 0px 20px;
          font-size: 16px;
          color: #333;
          i{
            float: left;
          }
          
          &.perOne {
            border-bottom: 5px solid #F7A541;
          }
          &.perTwo {
            border-bottom: 5px solid #FACA66;
          }
          &.perThree {
            border-bottom: 5px solid #FEE5AD;
          }
        }
      }
    
      // Chart Web
      .donut-chart-block-web {
        .donut-chart {
          position: relative;
          margin: 20px auto 40px;
          width: 200px;
          height: 200px;
          border-radius: 100%;
          
          //Illustrator
          #partOne {
            transform: rotate(0deg);
            .label {
              background-color: #B2D5BA;
              transform: rotate(126deg);
            }
          }
          //Photoshop
          #partTwo {
            transform: rotate(126deg);
            .label {
              background-color: #61ADA0;
              transform: rotate(144deg);
            }
          }
          //Maya
          #partThree {
            transform: rotate(270deg);
            .label {
              background-color: #248F8D;
              transform: rotate(90deg);
            }
          }
        }
      }

      .percentages-web {
        width: 250px;
        margin: 0 auto;
        .chartTab {
          margin: 0px 0px 0px -30px;
          padding: 10px 0px 0px 20px;
          font-size: 16px;
          color: #333;
          i{
            float: left;
          }
          
          &.perOne {
            border-bottom: 5px solid #B2D5BA;
          }
          &.perTwo {
            border-bottom: 5px solid #61ADA0;
          }
          &.perThree {
            border-bottom: 5px solid #248F8D;
          }
        }
      }
    }
    
    .work{
      article{
        margin: 10px 0px 60px;
        .image{
          height: 200px;
          background-position: center center;
          background-size: cover;
          border-radius: 3px;
          margin-bottom: 20px;
        }
      }
    }
    
    .blog{
      height: 580px;
      article{
        width: auto;
        height: 240px;
        .image{
          height: 200px;
          background-position: center center;
          background-size: cover;
          border-radius: 3px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

footer{
  .top{
    color: #444;
    text-align: center;
    p{
      margin-top: -10px;
    }
  }
  .social-link{
    a{
      display: inline-block;
      padding: 0px 5px;
    }
  }
  .copyright{
    text-align: right;
    color: #444;
    font-size: 12px;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

// Virtical Navigation

#cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  li {
    list-style: none;
    text-align: right;
  }
  a {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    span {
      float: right;
      display: inline-block;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6);
    }
    &:hover {
      span {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
      .cd-label {
        opacity: 1;
      }
    }
    &.is-selected .cd-dot {
      background-color: white;
    }
  }
  .cd-dot {
    position: relative;
    // we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #444;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #444;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}