footer
  .row
    .small-10.small-centered.columns
      .small-12.columns.top
        a(href="#top")
          i.fa.fa-angle-double-up
          p Top
      .small-12.medium-5.columns
        .social-link
          a.fa.fa-envelope.fa-lg(href="mailto:irene84111@gmail.com")
          a.fa.fa-facebook-square.fa-lg(href="https://www.facebook.com/irene.chang.735"  target="_blank")
          a.fa.fa-github-square.fa-lg(href="https://github.com/irene84111" target="_blank")
      .small-12.medium-7.columns
        .copyright
          p © Ya Yin Chang 2016