footer
  .row
    .small-12.columns
      ul
        li
          a.fa.fa-envelope.fa-2x(href="mailto:irene84111@gmail.com")
        li
          a.fa.fa-facebook-square.fa-2x(href="https://www.facebook.com/irene.chang.735"  target="_blank")
        li
          a.fa.fa-github-square.fa-2x(href="https://github.com/irene84111" target="_blank")