// Footer
section#footer
  .inner
    h2.major Get in touch
    p
      | Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
    
    form(method='post', action='#')
      .field
        label(for='name') Name
        input#name(type='text', name='name')
      .field
        label(for='email') Email
        input#email(type='email', name='email')
      .field
        label(for='message') Message
        textarea#message(name='message', rows='4')

      ul.actions
        li
          input(type='submit', value='Send Message')

    ul.contact
      li.fa-home
        | Untitled Inc
        br
        | 1234 Somewhere Road Suite #2894
        br
        | Nashville, TN 00000-0000
      li.fa-phone (000) 000-0000
      li.fa-envelope
        a(href='#') information@untitled.tld
      li.fa-twitter
        a(href='#') twitter.com/untitled-tld
      li.fa-facebook
        a(href='#') facebook.com/untitled-tld
      li.fa-instagram
        a(href='#') instagram.com/untitled-tld
    
    ul.copyright
      li &copy; Untitled Inc. All rights reserved.
      li
        | Design: 
        a(href='http://html5up.net') HTML5 UP