//- about-me-timeline   
.cd-panel.from-right
    
  header.cd-panel-header.hide-for-small-only#panel-top
    h6 Ya Yin Chang (1995)
    h6 張 雅 茵
    p Intending to become a designer and web developer, I'm now focusing on graphic design as well as the development of website.
    p As a student, I'm still learning and improving myself with great passion. There is no reason to refuse any opportunity for becoming better, please feel free to contact me :-)  
    a.cd-panel-close(href='#')
      i.fa.fa-times.fa-lg#close

  
  a.cd-panel-close-mobile.show-for-small-only(href='#')
    i.fa.fa-times.fa-lg#close
  .cd-panel-container
    .cd-panel-content
      section#cd-timeline.cd-container
        .cd-small-header.show-for-small-only
            h6 Ya Yin Chang (1995)
            h6 張 雅 茵
            p Intending to become a designer and front-end developer, I'm now focusing on graphic design as well as the development of website.
            p As a student, I'm still learning and improving myself with great passion. There is no reason to refuse any opportunity for becoming better, please feel free to contact me :-)
      
        .cd-timeline-block
          .cd-timeline-img.cd-important
            i.fa.fa-paper-plane
          .cd-timeline-content
            h6
              | 2
              sup nd 
              | Internship @ 
              a(href="http://albertlan.com" target="_blank") Albert Lan Creative
            p
              | It's a 
              strong Creative Agancy 
              | that provides great design, web development, animation and market strategies for clients.
            p
              | I take part in 
              abbr(title="Albert Lan Creative") ALC 
              | as an assistant of both design and development department. 
            span.cd-date Feb. 15 - now
            
        .cd-timeline-block
          h4.year-line 2016 

        .cd-timeline-block
          .cd-timeline-img.cd-sub-important
            i.fa.fa-magic(style="margin: 3px 0 0 8px;")
          .cd-timeline-content
            h6 台科大程式設計研究社 x JSDC.TW－網頁實作工作坊 
            p 
              | This was the last part of my JavaScript Club Course of 
              abbr(title="NTUST Coding Club") NCC.
            p
              | By collaborating with 
              a(href="http://jsdc.tw" target="_blank") JSDC.TW
              | , we held a workshop for students to learn more about HTML, CSS and JavaScript.
            a.disabled.hollow.button(href='#' style="margin-top:20px") More
            span.cd-date Dec. 19

        .cd-timeline-block
          .cd-timeline-img.cd-activity
            i.fa.fa-trophy(style="margin: 2px 0 0 9px;")
          .cd-timeline-content
            h6 2015 Hack Hsinchu City
            p The first Hackathon I participated. I was invited by one of my colleague in EXMA and we had a great time making an official website for Hsinchu City.
            p To our surprise, we won the third-place of the competition :-D 
            a.disabled.hollow.button(href='#' style="margin-top:20px") More
            span.cd-date Nov. 28

        .cd-timeline-block
          .cd-timeline-img.cd-sub-important
            i.fa.fa-code(style="margin: 0 0 0 7px;")
          .cd-timeline-content
            h6 
              | Javascript Club Course @ NCC
            p We held three courses of different programming languages this semester and I was responsible of JavaScript.
            p By teaching 2 hours a week, I introduced the begainners to the world of programming. It was very challenging and I learnt a lot.
            a.disabled.hollow.button(href='#' style="margin-top:20px") More
            span.cd-date Oct. 16 - Dec. 04
            
        .cd-timeline-block
          .cd-timeline-img.cd-important
            i.fa.fa-paper-plane
          .cd-timeline-content
            h6
              | 1
              sup st 
              | Internship @ 
              a(href="http://exma-square.co/" target="_blank") EXMA-Square.co
            p
              | It's a team master in application development. They provide development of high-scaling websites and technical consulting.
            p
              | I'm responsible of front-end development in EXMA and keep improving my skill.
            span.cd-date Oct. 01 - Now
        
        .cd-timeline-block
          .cd-timeline-img.cd-sub-important
            img(src="images/ncc-logo.png", alt="NCC", style="margin: 17% 0 0 17%;")
          .cd-timeline-content
            h6 
              | Designer &amp; Coach @ 
              a(href="http://ntustcoding.club/" target="_blank") NTUST Coding Club
            p NTUST Coding Club, also known as NCC, is a club based in NTUST. It aims to teach people without experience about programming. 
            p After I joining the club for a year, I became the designer of the club as well as the coach of JavaScript Club Course.
            span.cd-date Sep. 14 - Now
        
        .cd-timeline-block
          .cd-timeline-img.cd-activity
            i.fa.fa-magic(style="margin: 3px 0 0 8px;")
          .cd-timeline-content
            h6 2015 Global Hacker Game
            p 
              | The activity hold by 
              a(href="https://sudo.com.tw/" target="_blank") Sudo 
              | &amp; 
              a(href="https://www.makeschool.com/" target="_blank") Make School 
              | for people who want to learn about programing.
            p
              | I helped the event as an assistant and had a great fun of sharing what I've known. 
            a.disabled.hollow.button(href='#' style="margin-top:20px") More
            span.cd-date Aug. 18 - 20
            
        .cd-timeline-block
          .cd-timeline-img.cd-activity
            i.fa.fa-magic(style="margin: 3px 0 0 8px;")
          .cd-timeline-content
            h6 2015 LTSH Web Design Workshop
            p 
              | The workshop was held by one of my classmate. He was graduated from 
              abbr(title="National Lo-Tung Senior High School (國立羅東高中)") LTSH 
              | and eagered to bring what he had learnt back to his school.
            p
              | He asked me for help so I became one of the coaches and we taught about web design.
            a.disabled.hollow.button(href='#' style="margin-top:20px") More
            span.cd-date Jul. 20 - 21

        .cd-timeline-block
          .cd-timeline-img.cd-activity
            i.fa.fa-picture-o(style="margin: 1px 0 0 6px;")
          .cd-timeline-content
            h6 Exhibition - 機發態 Activation
            p This is a mini-scaling exhibition held by our class independently, we displayed our works of design, art and architecture.
            p I was the vice-president of the exhibition. The preparation took more than half a year and it was  This was a great opportunity for self-training.
            a.disabled.hollow.button(href='#' style="margin-top:20px") More
            span.cd-date May. 21 - 24
        
        .cd-timeline-block
          h4.year-line 2015

        .cd-timeline-block
          .cd-timeline-img.cd-important
            i.fa.fa-book(style="margin: 0 0 0 7px;")
          .cd-timeline-content
            h6 
              | Study in 
              a(href="http://www.ntust.edu.tw/home.php" target="_blank") NTUST
              | , Taipei
            p
              | I continued my study in 
              abbr(title="The National Taiwan University of Science and Technology") NTUST 
              | as a student major in
              strong Graphic Design.
            p Meanwhile, I started learning programing from scratch with a great passion.
            span.cd-date Sep.